body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-head {
  position: sticky;
  z-index: 100;
  box-shadow: 0px 0px 2px 2px lightgray;
}
.main-container div h2{
  text-align: center;
  font-weight: normal;
}
.main-container{
width: 100%;
align-items: center;
justify-content: center;
}
.main-container div {
width: 450px;
margin: 20px auto;
padding: 20px 20px 0px 35px;
border-radius: 5px;
}
.main-container div input {
  width: 400px;
  margin: 15px;
  padding: 10px 5px 10px 15px;
  font-size: 13px;
  outline: none;
    }
.main-container div button {
width: 150px;
padding: 6px;
margin: 10px 10px 20px 120px;
border:none;
outline: none;
font-weight: 600;
font-size: 20px;
border-radius: 50px;
  }

.img-size {
  width: 100%;
  height: 80vh;
}
.room-img-size {
height: 208px;
}
.mr {
  margin-right: 10px;
}
.mt1 {
  margin-top: 10px;
 }

button a {
  text-decoration: none;
  }
.img-icon {
  width: 35px;
  margin-bottom: 0px;
  clear: both;
}
.logo-icon {
  width: 70px;
  margin-bottom: 0px;
  clear: both;
}
.main-container p.para {
font-size: 12px;
padding-left: 15px;
text-transform: uppercase;
text-decoration: underline;
cursor: pointer;
}
.main-container p.para1 {
font-size: 12px;
padding-left: 15px;
text-align: center;
text-decoration: underline;
cursor: pointer;
}
.hotel-logo{
  width: 10%;
  }
  .room-container h2{
    text-align: center;
    font-weight: normal;
    margin: 20px;
   }
.room-container {
     align-items: center;
    justify-content: center;
    }
    
.room-container div {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    }
.room-container div input {
      width: 400px;
      margin: 10px 10px 10px 20px;
      padding: 10px 5px 10px 15px;
      font-size: 13px;
      outline: none;
        }
.room-container div label {
margin-left: 20px; 

        }
.room-container .img_container {
  margin-top: 0px; 
          
                  }
.room-container .room-page {
margin-top: 50px; 
 }
.room-container div p {
margin: 5px;
padding: 5px;  
}
.btn-design {
display: flex;
justify-content: center;
align-items: center;
top: -30px;
}
.btn-design button {
  margin: 10px;
padding: 5px;
width: 40px;
height: 40px;
 border-radius: 50px 50px;
}
.room-page{
  float: right;
  width: 400px;
}
.room-page button {
 justify-content: center;
 align-items: center;
 text-align: center;
}
.table-container{
  margin: 10px;
  padding: 10px;
}
.table-container div h2{
text-align: center;  
}
.table-container div table{
  width: 100%;
  padding: 20px;
  margin: 20px 20px 0px 0px;
 text-align: center;
 border: 1px solid gray;
}
.mybook-button{
  width: 150px;
  font-weight: 600;
}

.footer {
  color: #fff;
}
footer {
  padding: 46px 0;
  background-color: #444;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .list-item{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
.text-formatted{
  margin-top: 330px;
}
.text-formatted p {
font-size: 12px;
font-weight: 600;
}
